.ant-btn {
  &.ant-btn-sm.ant-btn-icon-only {
    height: 0.8rem;
  }
  &.ant-btn-default,
  &.ant-btn-primary {
    height: 0.8rem;
    line-height: 0.5rem;
  }
  span {
    font-size: 0.4rem;
  }
}

.ant-modal-root {
  background-color: red;
  .ant-modal-wrap {
    .ant-modal {
      .ant-modal-content {
        .ant-modal-body {
          line-height: 1rem;
          .ant-modal-confirm-body-wrapper {
            .ant-modal-confirm-body {
              .ant-modal-confirm-title {
                font-size: 0.5rem;
              }
              .ant-modal-confirm-content {
                font-size: 0.4rem;
              }
            }
          }
        }
      }
    }
  }
}

.ant-message {
  .ant-message-notice {
    .ant-message-notice-content {
      .ant-message-custom-content {
        font-size: 0.4rem;
      }
    }
  }
}
