@font-face {
  font-family: "ALiHanYiZhiNengHeiTi-2";
  src: url("@/assets/font/ALiHanYiZhiNengHeiTi-2.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.ant-tabs > .ant-tabs-nav,
.ant-tabs > div > .ant-tabs-nav {
  margin: 0;
}

.ant-table-body {
  &::-webkit-scrollbar {
    width: 5px;
    height: 1px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #1a4378;
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(26, 67, 120, 0.1);
  }
}

/* 下面我们会解释这些 class 是做什么的 */
.silde-enter-active,
.silde-leave-active {
  transition: all 0.3s ease-out;
}

.silde-enter-from,
.silde-leave-to {
  transform: translateX(100vw);
}
/* 下面我们会解释这些 class 是做什么的 */
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

#app {
  min-width: 100vw;
  background-color: #000;
  font-size: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

h5 {
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
  -webkit-appearance: none;
}

.common_button_item {
  display: inline-block;
  padding: 0 0.3rem;
  height: auto;
  font-size: 0.5rem;
  color: #000;
  text-align: center;
  border-radius: 0.3rem;
  background-color: transparent;
  transition: 0.1s all;
  font-size: 0.7rem;

  &:active {
    background-color: #ccc;
  }

  // .van-icon {
  //   font-size: 0.7rem;
  //   color: #999;
  // }
}

.alignleft {
  text-align: left;
}

.alignright {
  text-align: right;
}

.color_00FF9C {
  color: #00ff9c;
}

.color_FF6000 {
  color: #ff6000;
}

.color_F1BC4D {
  color: #f1bc4d;
}

.color_4DCCF1 {
  color: #4dccf1;
}

.common_block_wrapper {
  padding: 0.2rem;
  background-color: #020f27;
  border: 1px solid #2f326c;
}

.backgroundcolor {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: radial-gradient(
      circle at 100% 0,
      #efe8eb 0,
      rgba(239, 232, 235, 0) 33%
    ),
    radial-gradient(circle at 100% 25%, #e8ebea 0, hsla(160, 7%, 92%, 0) 39%),
    radial-gradient(
      circle at 100% 36%,
      hsla(160, 7%, 92%, 0.6) 0,
      hsla(160, 7%, 92%, 0) 38%
    ),
    linear-gradient(180deg, #efeaef, #dcdcf5 99%);
}

.aligncenter {
  text-align: center;
}

.common_table_wrapper {
  margin: 0 0.4rem;
  .ant-spin-container {
    .ant-table {
      background-color: #041335;
      font-size: 0.17rem;
      .ant-table-container {
        .ant-table-placeholder {
          // height: 3rem;
        }
        .ant-table-thead {
          > tr {
            > th {
              padding: 0.05rem 0.2rem;
              background-color: #0a2e54;
            }
          }
        }

        .ant-table-tbody {
          .ant-table-row {
            border: 0;
            .ant-table-cell {
              border-top: 0;
              padding: 0.1rem;
              background-color: transparent;
              // 去除换行
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            &.table-striped {
              background-color: #102348;
            }
          }
        }
      }
    }
  }
  ::v-deep.ant-table {
    ::v-deep.ant-table-wrapper {
      ::v-deep.ant-table-tbody {
        ::v-deep > tr {
          background-color: linear-gradient(
            to right,
            red 0%,
            green 50%,
            blue 100%
          );

          &:hover {
            background-color: linear-gradient(
              to right,
              red 0%,
              green 50%,
              blue 100%
            );
          }

          ::v-deep.ant-table-cell {
            background-color: transparent;
          }
        }
      }
    }

    .ant-table-cell {
    }
  }
}

.common_scrolltable_wrapper {
  height: auto;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0.1rem;
  font-size: 0.23rem;
  color: rgba(255, 255, 255, 0.85);
  position: relative;
  .header {
    width: 100%;
    background-color: #0a2e54;
    table {
      width: 100%;
      table-layout: fixed;
      thead {
        display: table-row-group;
        tr {
          display: table-row;
          th {
            display: table-cell;
            padding: 0.05rem 0.2rem;
            line-height: 0.3rem;
            overflow: hidden;
            box-sizing: border-box;
            position: relative;
          }
        }
      }
    }
  }
  .body {
    overflow: hidden;
    table {
      table-layout: fixed;
      width: 100%;
      tbody {
        display: table-row-group;
        tr {
          display: table-row;
          height: 0.8rem;
          line-height: 30px;
          justify-content: space-between;
          font-size: 0.23rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          &:hover {
            background: linear-gradient(
              to right,
              rgba(13, 70, 191, 0) 0%,
              rgba(13, 70, 191, 0.1) 20%,
              #0d46bf 50%,
              rgba(13, 70, 191, 0.1) 80%,
              rgba(13, 70, 191, 0) 100%
            );
          }
          &:nth-child(even) {
            background-color: #102348;
            &:hover {
              background: linear-gradient(
                to right,
                rgba(13, 70, 191, 0) 0%,
                rgba(13, 70, 191, 0.1) 20%,
                #0d46bf 50%,
                rgba(13, 70, 191, 0.1) 80%,
                rgba(13, 70, 191, 0) 100%
              );
            }
          }
          td {
            display: table-cell;
            padding: 0.05rem 0.2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            .attachment {
              .ant-btn {
                font-size: 0.2rem;
                color: #00ffde;

                img {
                  width: 0.3rem;
                }
              }
            }
          }
        }
      }
    }
  }
  .aligncenter {
    text-align: center;
  }
  .alignleft {
    text-align: left;
  }
  .alignright {
    text-align: right;
  }
}
.common_filtertool_wrapper {
  display: flex;
  width: 100%;
  height: 0.6rem;
  align-items: center;
  .ant-form {
    width: 100%;
    .ant-form-item {
      margin: 0;
      .ant-input,
      .ant-input-affix-wrapper,
      .ant-select-selector,
      .ant-picker {
        width: 100%;
        background-color: #041030;
        border-color: #0096ff;
        &::placeholder {
          color: #ccc;
        }
        .ant-select-selection-placeholder {
          color: #ccc;
        }
        .ant-form-item-control-input {
          background-color: red;
        }
        .ant-select-selector,
        .ant-picker-input input {
          background-color: #041030;
          &::placeholder {
            color: #ccc;
          }
        }
      }
    }
    .operation {
      text-align: right;
    }
  }
}
.common_main_container,
.common_tab_container {
  margin: 0 0.2rem;
  background-color: #040c1f;
  border-radius: 0.1rem;
}
.common_main_container {
  padding: 0.1rem 0.3rem;
  height: calc(100vh - 2.6rem);
}
.common_tab_container {
  padding: 0 0.3rem;
  .common_table_wrapper {
    margin: 0;
  }
}

.common_basetable_wrapper {
  &.tabtable {
    .ant-table-wrapper {
      .ant-table {
        height: calc(100vh - 4.1rem);
      }
    }
  }
}

.common_tableoperation_wrapper {
  width: 100%;
  padding: 0 0 0.1rem 0;
  height: 0.6rem;
  text-align: left;
  .ant-space {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .a-button {
    .ant-btn-default {
      &:hover {
        color: #fff;
      }
    }
  }
  .import {
    background-color: #0096ff;
  }
  .export {
    background-color: #00ce2c;
  }
  .add {
    background-color: #002761;
  }
}
